<div class="rechercheSociete">
    <div class="form-group">
        <label for="text"> Chercher par nom de société </label>
        <input type="text" class="form-control" id="text">
    </div>

    <div class="form-group" id="societeParContact">
        <label for="exampleSelect1">Chercher par contact</label>
        <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
</div>