<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" >
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('societe') }}">  <h2> Société </h2>   <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <h2> Affaire </h2> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <h2> Groupe  </h2> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">  <h2> Commande </h2> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">  <h2> Contact </h2> </a>
            </li>
            <li class="nav-item">
                <img alt="" src="{{ asset('image/Quizzbox.png') }}" />
            </li>
        </ul>
    </div>
</nav>